{% extends "layout.html" %}
{% block content %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          Step #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <h5 class="card-title">Please Upload your Files</h5>
        <div class="alert alert-light" role="alert">Select and Upload your file.Note that the file should be in .png
          format and can be multiple files.</div>

        <!-- uploading file make sure it can upload the right format and multiple files -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload File(s)</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" multiple size="50" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
        <!-- uploading file make sure it can upload the right format and multiple files -->
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Step #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <h5 class="card-title">Please key in the Parameters</h5>
        <div class="alert alert-light" role="alert">Fill in the parameters and make sure that you input correct and
          valid value in order to proceed to the next stage
        </div>

        <!-- Double check all the key element and classes -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Parameter 1</span>
          </div>
          <input type="text" class="form-control" placeholder="Parameter 1" aria-label="Parameter1" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Coordinates</span>
          </div>
          <input type="number" aria-label="latitude" class="form-control" placeholder="Latitude">
          <input type="number" aria-label="longitude" class="form-control" placeholder="longitude">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Parameter 3</span>
          </div>
          <input type="text" class="form-control" placeholder="Parameter 3" aria-label="Parameter3" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Parameter 4</span>
          </div>
          <input type="text" class="form-control" placeholder="Parameter 4" aria-label="Parameter4" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Parameter 5</span>
          </div>
          <input type="text" class="form-control" placeholder="Parameter 5" aria-label="Parameter5" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Parameter 6</span>
          </div>
          <input type="text" class="form-control" placeholder="Parameter 6" aria-label="Parameter6" aria-describedby="basic-addon1">
        </div>
        <!-- Double check all the key element and classes -->

      </div>
    </div>
  </div>
  <div class="card">
    <button type="button" class="btn btn-info">Proceed</button>
  </div>
</div>
{% endblock %}