{% extends "layout.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About Us { White Space } </h1>
    <p class="lead">
      Big Data Analytics and Artificial Intelligence are foreseen to provide unprecedented step
      changes in cost and value across the Oil&Gas industry, from Exploration success and Field
      Development turnaround times to drilling, production and maintenance optimization and
      improved Safety performance. Use of Analytics is estimated to generate $200B added revenue
      annually industry wide.
      As experienced Oil&Gas professionals we know that these promises are within reach, but we
      also feel that a different approach is needed to accelerate the journey. For example, many AI
      applications are developed in functional silos, lack transparency and replicability, are
      software-focussed and ignore integration across the value chain. These solutions
      typically lead to isolated successes and only small incremental improvements.
      To fully realize the potential of Analytics for Oil&Gas, we believe essential ingredients are tailored
      transparency, integrated domain expertise and collaborative analytics. Our value proposition
      is to offer all three.
    </p>
  </div>
</div>

{% endblock %}