<!-- Introduction on the product page -->
{% extends "layout.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-4">What is [ Pipeline ] by { White Space } </h3>
    <p class="lead">
      <ul>
        <li>Integrated well traj screening</li>
        <li>Exp portfolio analysis</li>
        <li>Rapid Screening of remaining HC</li>
        <li>Automated activity planning option & analysis</li>
        <li>Automated pipeline path screening</li>
      </ul>
<button class=" btn btn-info"><a href="{{url_for('pipeline')}}" style="color:lavenderblush">Try Now</a></button>
    </p>
  </div>
</div>

{% endblock %}