<!-- If login faile go to this page -->
{% extends "layoutlogin.html" %}
{% block content %}
<style>
    .addpadding {
        padding-bottom: 1em;
        }
        </style>
<div class="mx-auto" style="width: 700px">
    <div style="text-align:center">
        <img src="/static/img/logo.png">
        <h5 class="display-5 ">Welcome to the White Space module manager</h5>
    </div>
    <hr>
    <h5 class="display-4 ">Sorry you are not authorize to enter this page!</h5>
   
</div>

{% endblock %}